{% block content %}
<div style="text-align: center;">
  <img src="https://cdn.discordapp.com/attachments/393209589924888577/1122639683642470470/image.png" height="200" width="200">

  <h2>Saldo da empresa: {{ saldo }}</h2>
</div>

<h2> Estoque da empresa </h2>
  {% for jogo, info in estoque.items %}
    <tr>
      <div>
        <h4> Jogo: {{ jogo }} </h4>
        <div> Quantidade total: {{ info.total }} </div>
        <div> Alugados: {{ info.alugados }} </div>
        <div> Disponiveis para aluguel: {{ info.disponiveis }} </div>
        </div>
    </tr>
{% endfor %}

<div>
    <h2>Devolução de jogos</h2>
<form method="post"> {% csrf_token %}
    <label>Nome jogo: </label>
    <input type="text" name="jogo" value="{{ nome_jogo }}">


    <input type="submit" value="OK">
</form>
</div>

<div>
    <h2>Aluguel de jogos</h2>
<form method="post"> {% csrf_token %}
    <label>Nome jogo: </label>
    <input type="text" name="jogoAluga" value="{{ nome_jogo }}">

    <label>Nome cliente: </label>
    <input type="text" name="cliente" value="{{ nome_cliente }}">


    <input type="submit" value="OK">
</form>
</div>

<h2> Clientes </h2>
  {% for nome, info in clientes.items %}
    <tr>
      <div> {{ nome }} </div>
    </tr>
{% endfor %}

<div>
    <h2>Cadastra cliente</h2>
<form method="post"> {% csrf_token %}
    <label>Nome cliente: </label>
    <input type="text" name="cadastraCliente" value="{{ cadastra_cliente }}">
    <input type="submit" value="OK">
</form>
</div>


<div>
    <h2>Remove cliente</h2>
<form method="post"> {% csrf_token %}
    <label>Nome cliente: </label>
    <input type="text" name="removeCliente" value="{{ remove_cliente }}">
    <input type="submit" value="OK">
</form>
</div>

{% endblock %}